RewriteEngine on

ErrorDocument 404 http://localhost/ozkoska/404.php

RewriteRule ^menu$ menu.php [NC,L]
RewriteRule ^galeri$ galeri.php [NC,L]
RewriteRule ^hakkimizda$ hakkimizda.php [NC,L]
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]


